// vertical spacers used to easily position spacing between contents
.vspacer-20 {
  margin-top: -20px;
}
.vspacer-15 {
  margin-top: -15px;
}
.vspacer-10 {
  margin-top: -10px;
}
.vspacer-5 {
  margin-top: -5px;
}
.vspacer5 {
  margin-top: 5px;
}
.vspacer10 {
  margin-top: 10px;
}
.vspacer15 {
  margin-top: 15px;
}
.vspacer20 {
  margin-top: 20px;
}
.vspacer25 {
  margin-top: 25px;
}
.vspacer30 {
  margin-top: 30px;
}
.vspacer35 {
  margin-top: 35px;
}
.vspacer40 {
  margin-top: 40px;
}
.vspacer45 {
  margin-top: 45px;
}
.vspacer50 {
  margin-top: 50px;
}
.vspacer100 {
  margin-top: 100px;
}
.vspacer250 {
  margin-top: 250px;
}
