@import "../1-settings/_1-settings.scss";

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 30px;
  background-color: $primary-lightgray;
  color: #000;
  line-height: 30px;
  text-align: center;
}
